In [1]:
import pandas as pd

import numpy as np

import seaborn as sns

In [2]:
iris = sns.load_dataset('iris')

In [3]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
iris.drop('species', axis = 1)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [8]:
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']

In [9]:
iris

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_sum
0,5.1,3.5,1.4,0.2,setosa,8.6
1,4.9,3.0,1.4,0.2,setosa,7.9
2,4.7,3.2,1.3,0.2,setosa,7.9
3,4.6,3.1,1.5,0.2,setosa,7.7
4,5.0,3.6,1.4,0.2,setosa,8.6
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,9.7
146,6.3,2.5,5.0,1.9,virginica,8.8
147,6.5,3.0,5.2,2.0,virginica,9.5
148,6.2,3.4,5.4,2.3,virginica,9.6
149,5.9,3.0,5.1,1.8,virginica,8.9

In [10]:
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']

In [11]:
iris

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_sum,petal_sum
0,5.1,3.5,1.4,0.2,setosa,8.6,1.6
1,4.9,3.0,1.4,0.2,setosa,7.9,1.6
2,4.7,3.2,1.3,0.2,setosa,7.9,1.5
3,4.6,3.1,1.5,0.2,setosa,7.7,1.7
4,5.0,3.6,1.4,0.2,setosa,8.6,1.6
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,9.7,7.5
146,6.3,2.5,5.0,1.9,virginica,8.8,6.9
147,6.5,3.0,5.2,2.0,virginica,9.5,7.2
148,6.2,3.4,5.4,2.3,virginica,9.6,7.7
149,5.9,3.0,5.1,1.8,virginica,8.9,6.9

In [14]:
mean = [np.mean (iris['sepal_length']),
        np.mean (iris['sepal_width']),
        np.mean (iris['petal_length']),
        np.mean (iris['petal_width']),
        np.mean (iris['sepal_sum']),
        np.mean (iris['petal_sum'])]

In [15]:
std = [np.std (iris['sepal_length']),
       np.std (iris['sepal_width']),
       np.std (iris['petal_length']),
       np.std (iris['petal_width']),
       np.std (iris['sepal_sum']),
       np.std (iris['petal_sum'])]

In [16]:
min = [np.min (iris['sepal_length']),
       np.min (iris['sepal_width']),
       np.min (iris['petal_length']),
       np.min (iris['petal_width']),
       np.min (iris['sepal_sum']),
       np.min (iris['petal_sum'])]

In [17]:
max = [np.max (iris['sepal_length']),
       np.max (iris['sepal_width']),
       np.max (iris['petal_length']),
       np.max (iris['petal_width']),
       np.max (iris['sepal_sum']),
       np.max (iris['petal_sum'])]

In [19]:
summary_dict = {'mean': mean, 'std': std, 'min':min, 'max':max }

In [20]:
summary_df = pd.DataFrame(data=summary_dict)

In [21]:
summary_df

       mean       std  min   max
0  5.843333  0.825301  4.3   7.9
1  3.057333  0.434411  2.0   4.4
2  3.758000  1.759404  1.0   6.9
3  1.199333  0.759693  0.1   2.5
4  8.900667  0.886303  6.8  11.7
5  4.957333  2.499316  1.2   9.2